button {
    margin-right: 10px;
    width: 120px;
}

.vue-toolbar-example {
    text-align: left;
    font-size: 12px;
    padding-bottom: 5px;
}

hr.divider {
    color: lightgray;
}

.toolbar-buttons {
    padding-top: 5px;
    margin-top: 10px;
    display: flex;
}

.my-toolbar-button {
    color: blue;
    font-weight: bold;
}
