

.draw-main {
    margin: 0;
    box-sizing: border-box;
    width: 960px;
    height: 640px;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.filler {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    /* border:1px solid #666666; */
}

.list {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0 0 2px #AAA;
    background-color: rgb(255, 255, 255);
    position: absolute;
}
.list-toolbar {
    position: absolute;
    top: 0px;
    bottom: 30px;
    left: 10px;
    right: 10px;
    box-shadow: 0 0 2px #AAA;
    background-color: white;
    height:40px;
}
.box-shaddow {
    box-shadow:  10px 10px 15px 0px rgba(125,125,125,1);
}
#cmstool-block{
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Lato', sans-serif;
}
.vdr {
    position: absolute;
    box-sizing: border-box;
}
.vdr.active:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    outline: 1px dashed #d6d6d6;
}
.vdr-stick {
    box-sizing: border-box;
    position: absolute;
    font-size: 1px;
    background: #ffffff;
    border: 1px solid #6c6c6c;
    box-shadow: 0 0 2px #bbb;
}
.inactive .vdr-stick {
    display: none;
}
.vdr-stick-tl, .vdr-stick-br {
    cursor: nwse-resize;
}
.vdr-stick-tm, .vdr-stick-bm {
    left: 50%;
    cursor: ns-resize;
}
.vdr-stick-tr, .vdr-stick-bl {
    cursor: nesw-resize;
}
.vdr-stick-ml, .vdr-stick-mr {
    top: 50%;
    cursor: ew-resize;
}
.vdr-stick.not-resizable{
    display: none;
}
.content-container{
    display: block;
    position: relative;
}
.float-button-remove{
    top: -18px;
    right: 0px;
    position: absolute;
    padding: 0px 0px !important;
}
.float-button-edit{
    top: -18px;
    right: 28px;
    position: absolute;
    padding: 0px 0px !important;
}
.float-button-top{
    top: -18px;
    right: 56px;
    position: absolute;
    padding: 0px 0px !important;
}
.float-button-bottom{
    top: -18px;
    right: 84px;
    position: absolute;
    padding: 0px 0px !important;
}
.float-button-copy{
    top: -18px;
    right: 112px;
    position: absolute;
    padding: 0px 0px !important;
}
.carousel-button-remove{
    position:absolute;
    top:10px;
    right:20px;
    padding: 0px 0px !important;
}
.carousel-button-edit{
    position:absolute;
    top:10px;
    right:50px;
    padding: 0px 0px !important;
}
.carousel-button-add{
    position:absolute;
    top:10px;
    right:80px;
    padding: 0px 0px !important;
}
.carousel-headline{
    position:absolute;
    width:100%;
    bottom:92px;
}