

.draw-main {
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: 'Lato', sans-serif;
}

.filler {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    border:1px solid #666666;
}

.list {
    top: 60px;
    bottom: 30px;
    left: 10px;
    right: 10px;
    box-shadow: 0 0 2px #AAA;
    background-color: white;
}
.list-toolbar {
    position: absolute;
    top: 0px;
    bottom: 30px;
    left: 10px;
    right: 10px;
    box-shadow: 0 0 2px #AAA;
    background-color: white;
    height:40px;
}
.box-shaddow {
    box-shadow:  10px 10px 15px 0px rgba(125,125,125,1);
}
#cmstool-block{
    width:100%;
    height:600px;
}
.vdr {
    position: absolute;
    box-sizing: border-box;
}
.vdr.active:before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    outline: 1px dashed #d6d6d6;
}
.vdr-stick {
    box-sizing: border-box;
    position: absolute;
    font-size: 1px;
    background: #ffffff;
    border: 1px solid #6c6c6c;
    box-shadow: 0 0 2px #bbb;
}
.inactive .vdr-stick {
    display: none;
}
.vdr-stick-tl, .vdr-stick-br {
    cursor: nwse-resize;
}
.vdr-stick-tm, .vdr-stick-bm {
    left: 50%;
    cursor: ns-resize;
}
.vdr-stick-tr, .vdr-stick-bl {
    cursor: nesw-resize;
}
.vdr-stick-ml, .vdr-stick-mr {
    top: 50%;
    cursor: ew-resize;
}
.vdr-stick.not-resizable{
    display: none;
}
.content-container{
    display: block;
    position: relative;
}