<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="react_vue" translate="label" sortOrder="999">
			<label>ReactJS and VueJS integration</label>
		</tab>
		<section id="react_vue_config" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
			<label>Configuration</label>
			<tab>react_vue</tab>
			<resource>React_React::config_react_react</resource>
			<group id="vue" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>VueJS configuration</label>
				<field id="enable" type="select"  sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Add VueJS script </label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>enable VueJS</comment>
				</field>
			</group>
			<group id="react" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>ReactJS configuration</label>
				<field id="enable" type="select"  sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Add ReactJS script</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>enable ReactJS</comment>
				</field>
			</group>
			<group id="junk" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
				<label>Magento JS configuration</label>
				<field id="revemove" type="select"  sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
					<label>Remove Adobe JS Junk</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Remove Magento's default JS garbage (Require,Knokout,jQuery). You will need implement required functionality or use Magento Open Source ReactJS Luma Theme</comment>
				</field>
			</group>
		</section>
		<section id="video" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Aliyun Video</label>
            <tab>catalog</tab>
            <resource>Silk_CmsTool::configuration</resource>
            <group id="settings" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Settings</label>
                <field id="template_group_id" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Template Group Id Pc</label>
                    <source_model>Silk\CmsTool\Model\Config\Source\TemplateId</source_model>
                </field>
                <field id="template_group_id_mb" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Template Group Id Mb</label>
                    <source_model>Silk\CmsTool\Model\Config\Source\TemplateId</source_model>
                </field>
                <field id="enable_transcoding" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Transcoding</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="access_key_id" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Access Key ID</label>
                </field>
                <field id="access_key_secret" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>AccessKey Secret</label>
                </field>
                <field id="region_id" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Region Id</label>
                    <source_model>Silk\CmsTool\Model\Config\Source\RegionId</source_model>
                </field>
                <field id="user_id" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>User Id</label>
                </field>
                <field id="auth_timeout" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Auth Timeout</label>
                </field>
                <field id="enable_url_authentication" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Url Authentication</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
	</system>
</config>
